Question1

Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.

In [ ]:
def next_in_line(n):
  n[0].remove(n[0][0])
  n[0].append(n[1])
  return n[0]

print(f'next_in_line(([5,6,7,8,9],1)) = {next_in_line(([5,6,7,8,9],1))}')
print(f'next_in_line(([7,6, 3, 23, 17], 10)) = {next_in_line(([7,6, 3, 23, 17], 10))}')

next_in_line(([5,6,7,8,9],1)) = [6, 7, 8, 9, 1]
next_in_line(([7,6, 3, 23, 17], 10)) = [6, 3, 23, 17, 10]

Question2

Create the function that takes a list of dictionaries and returns the sum of people's budgets.

In [ ]:
l=[{'name':"adhi"},{'salary':100}]

In [ ]:
def get_budgets(l):
   d={}
   sum=0
   for i in l:
       d.update(i)
       sum=sum+d['budget']
   return sum

In [ ]:
get_budgets([
{ 'name': 'John', 'age': 21, 'budget': 23000 },
{ 'name': 'Steve', 'age': 32, 'budget': 40000 },
{ 'name': 'Martin', 'age': 16, 'budget': 2700 }
])

65700

In [ ]:
get_budgets([
{ 'name': 'John', 'age': 21, 'budget': 29000 },
{ 'name': 'Steve', 'age': 32, 'budget': 32000 },
{ 'name': 'Martin', 'age': 16, 'budget': 1600 }
])

62600

Question3

Create a function that takes a string and returns a string with its letters in alphabetical order.

In [ ]:
def alphabet_soup(s):
  l=sorted(s)
  return ''.join(l)

In [ ]:
print(f'alphabet_soup("hello") = {alphabet_soup("hello")}')

alphabet_soup("hello") = ehllo

Question4

Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.What will be the value of your investment at the end of the 10 year period?

Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.

For the example above:

compound_interest(10000, 10, 0.06, 12) âžž 18193.97

Note that the interest rate is given as a decimal and n=12 because with monthly compounding there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or daily.

In [ ]:
def compound_interest(p,t,r,n):
  a=p*(1+r/n)**(n*t)
  return "{:.2f}".format(a)

In [ ]:
print(f'compound_interest(10000, 10, 0.06, 12) = {compound_interest(10000, 10, 0.06, 12)}')
print(f'compound_interest(3500, 15, 0.1, 4) = {compound_interest(3500, 15, 0.1, 4)}')
print(f'compound_interest(100000, 20, 0.15, 365) = {compound_interest(100000, 20, 0.15, 365)}')

compound_interest(10000, 10, 0.06, 12) = 18193.97
compound_interest(3500, 15, 0.1, 4) = 15399.26
compound_interest(100000, 20, 0.15, 365) = 2007316.26

Question5

Write a function that takes a list of elements and returns only the integers.

In [ ]:
def return_only_integer(n):
  l=[]
  for i in n:
    if type(i)== int:
      l.append(i)
  return l

In [ ]:
print(f'return_only_integer([9, 2, "space", "car", "lion", 16]) = {return_only_integer([9, 2, "space", "car", "lion", 16])}')
print(f'return_only_integer(["hello", 81,"basketball",23, "fox"]) = {return_only_integer(["hello", 81,"basketball",23, "fox"])}')

return_only_integer([9, 2, "space", "car", "lion", 16]) = [9, 2, 16]
return_only_integer(["hello", 81,"basketball",23, "fox"]) = [81, 23]