1. Write a Python program to find sum of elements in list?

In [1]:
def sum(l):
    sum=0
    for i in l:
        sum=sum+i
    return sum

In [2]:
sum([1,2,3,4,5,6,7,8,9,10])

55

2. Write a Python program to Multiply all numbers in the list?

In [3]:
def mul(l):
    mul=1
    for i in l:
        mul=mul*i
    return mul

In [4]:
mul([1,2,3,4,5,6,7,8,9,10])

3628800

3. Write a Python program to find smallest number in a list?

In [9]:
def small(l):
    return min(l)

In [10]:
small([1,2,3,4,5,6,7,8,9,10])

1

4. Write a Python program to find largest number in a list?

In [6]:
def large(l):
    return max(l)

In [7]:
large([1,2,3,4,5,6,7,8,9,10])

10

In [ ]:
5. Write a Python program to find second largest number in a list?

In [12]:
def second_largest(l):
    l.remove(max(l))
    return max(l)

In [13]:
second_largest([1,2,3,4,5,6,7,8,9,10])

9

6. Write a Python program to find N largest elements from a list?

In [17]:
def largest_n(l,n):
    l1=[]
    for i in range(n):
        l1.append(max(l))
        l.remove(max(l))
    return l1

In [18]:
largest_n([1,2,3,4,5,6,7,8,9,10],3)

[10, 9, 8]

7. Write a Python program to print even numbers in a list?

In [19]:
def even(l):
    l1=[]
    for i in l:
        if i%2==0:
            l1.append(i)
    return l1

In [20]:
even([1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

8. Write a Python program to print odd numbers in a List?

In [21]:
def odd(l):
    l1=[]
    for i in l:
        if i%2!=0:
            l1.append(i)
    return l1

In [22]:
odd([1,2,3,4,5,6,7,8,9,10])

[1, 3, 5, 7, 9]

9. Write a Python program to Remove empty List from List?

In [1]:
def empty(l):
    l1=[]
    for i in l:
        if i:
            l1.append(i)
    return l1

In [2]:
empty([[2,3],[],['aghvk']])

[[2, 3], ['aghvk']]

10. Write a Python program to Cloning or Copying a list?

In [7]:
def clone(l):
    l1=l.copy()
    return l1

In [8]:
[1,2,3,4,"afav"]

[1, 2, 3, 4, 'afav']

11. Write a Python program to Count occurrences of an element in a list?

In [18]:
import pandas as pd
def counting(l):
    df=pd.DataFrame(l,columns=["data"])
    for i in df["data"].unique():
        print("the count of {} is {}".format(i,l.count(i)))

In [19]:
counting([1,2,2,2,4,5,5,6,6,6,6])

the count of 1 is 1
the count of 2 is 3
the count of 4 is 1
the count of 5 is 2
the count of 6 is 4