Question 1

Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [ ]:
def is_symmetrical(s):
  s1=list(str(s))
  s1.reverse()
  if str(s)==''.join(s1):
    return True
  else:
    return False

In [ ]:
print(f'is_symmetrical(7227) ➞ {is_symmetrical(7227)}')
print(f'is_symmetrical(12467) ➞ {is_symmetrical(12567)}')
print(f'is_symmetrical(9939) ➞ {is_symmetrical(9939)}')
print(f'is_symmetrical(2221222) ➞ {is_symmetrical(2221222)}')

is_symmetrical(7227) ➞ True
is_symmetrical(12467) ➞ False
is_symmetrical(9939) ➞ False
is_symmetrical(2221222) ➞ True

Question 2

Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [ ]:
def multiply_nums(s):
  s.replace(", ",'')
  mul=1
  for i in s.replace(", ",''):
     mul=mul*int(i)
  return mul

In [ ]:
print(f'multiply_nums("2, 3") ➞ {multiply_nums("2, 3")}')
print(f'multiply_nums("1, 2, 3, 4")➞ {multiply_nums("1, 2, 3, 4")}')
print(f'multiply_nums("54, 75, 453, 0") ➞ {multiply_nums("54, 75, 453, 0")}')

multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4")➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0

Question 3

Create a function that squares every digit of a number.

In [ ]:
def square_digits(n):
  sum=''
  for i in str(n):
    sum=sum+str(int(i)**2)
  return int(sum)

In [ ]:
print(f'square_digits(9119) ➞ {square_digits(9119)}')
print(f'square_digits(2483) ➞ {square_digits(2483)}')
print(f'square_digits(3212) ➞ {square_digits(3212)}')

square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414

In [ ]:
import pandas as pd
def setify(l):
  df=pd.DataFrame(l,columns=["data"])
  return sorted(list(df["data"].unique()))

In [ ]:
print(f'setify([1, 3, 3, 5, 5]) ➞ {setify([1, 3, 3, 5, 5])} ')
print(f'setify([4,4,4,4]) ➞ {setify([4,4,4,4])} ')
print(f'setify([5,7,8,9,10,15]) ➞ {setify([5,7,8,9,10,15])} ')
print(f'setify([3,3,3,2,1]) ➞ {setify([3,3,3,2,1])} ')

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4,4,4,4]) ➞ [4]
setify([5,7,8,9,10,15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3,3,3,2,1]) ➞ [1, 2, 3]

Question 5

Create a function that returns the mean of all digits.

In [ ]:
def mean(n):
  sum=0
  for i in str(n):
    sum=sum+int(i)
  return sum/len(str(n))

In [ ]:
print(f'mean(42) ➞ {mean(42)}')
print(f'mean(12345) ➞ {mean(12345)}')
print(f'mean(666) ➞ {mean(666)}')

mean(42) ➞ 3.0
mean(12345) ➞ 3.0
mean(666) ➞ 6.0